/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111;
	--color-background:#eee;
	--font-size-large: 1.7em;
	--font-size-medium: 1.3em;
	--font-size-small: 1em;
}

/****************/
/* FONTS */
/****************/

@font-face {
	font-family: "PLZ";
	src: url("font/PLZ.woff2");
}

@font-face {
	font-family: 'nimbus';
	src: url('font/NimbusSanL-Reg.woff2') format('woff2');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'stretchPro';
	src: url('StretchPro.woff2') format('woff2');
}


/****************/
/* HEADER */
/****************/

header{
	display: flex;
	justify-content: center;
	width: 20em;
	margin: 3em;
	position: relative;
	right: 2em;
	margin-bottom: -2em;
}

nav {
    position: relative;
    background-color: white; 
	top: -4em;
	z-index: 2000; /* zorgt ervoor dat als de menu is uigeklapt, de navbar nog steeds zichtbaar is*/
}

/* Style voor de navigatieknoppen */
nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    padding: 0;
    align-items: center;
    background-color: white;
}


h1{
	font-family: 'stretchPro';
	font-size: var(--font-size-large);
	margin: 1em;
}

header svg{
	display: flex;
	width: 1em;
}

/****************/
/* MAIN */
/****************/

main{
	position: relative;
	bottom: 3em;
}

h2:nth-of-type(1){
	margin-bottom: 0.5em;
	position: relative;
	left: 0.3em;
}


h2{
	width: 12em;
	display: flex;
	justify-content: flex-start;
	margin: 0.5em;
	margin-bottom: -0.8em;
	font-family: 'stretchPro';
	font-size: 1.5em;
}

h2:nth-of-type(2){
	position: relative;
	top: -0.8em;
}

h3{
	margin: 0.5em;
	padding: 0.1em;
	font-family: "nimbus" ;
	font-size: var(--font-size-small);
}

article h3{
	border-left: solid;
	margin-left: 0.3em;
	padding: 0.4em;
}

p{
	font-family: "nimbus" ;
	margin: 0.4em;
	padding: 0.1em;
	font-size: var(--font-size-small);
}

article p {
	color: white;
	background-color: black;
	margin-right: 13em;
	grid: 1fr 1fr 1fr;
}

main img {
	width: 22em;
	padding: 0.3em;
}

svg{
	margin: 1em;
	width: 90%;
    height: 1.5em;
}

/* alle horizontale lijnen */
hr{
	display: flex;
	justify-content: center;
	margin: 1em;
}

header hr{
	position: relative;
	top: -1em;
}

/* alle buttons */
button{
	position: relative;
	bottom: 0.5em;
}


/****************/
/* LISTS AND ITEMS */
/****************/

li{
	list-style: none;	
}

li img{
	width: 2.5em;

}

/* dazed club */

.dazedClub img {
	width: 4em;
}

.dazedClub p{
	font-size: 0.8em;
	text-align: center;
}

.dazedClub{
	margin-top: -1em;
	margin-bottom: -1em;
	display: flex;
	justify-content: center;
}

/* mail registratie  */

.mail button{
	border-radius: 2em;
	color: white;
	background-color: black;
	width:15em;
	height: 3em;
	box-shadow: none;
	text-transform: uppercase;
	position: relative;
	top: 0.1em;
	margin: 0.5em;
}

.mail {
	display: flex;
	justify-content: center;
}

.mail input{
	height: 2em;
	display: flex;
	margin: 1em;
}


/* email popup */
.emailSubmitPop-up{
	width: 22em;
	height: 6em;
	background-color: rgb(0, 255, 51);
	position: relative;
	top: -2em;
	border-radius: 2em;
}

.emailSubmitPop-up h3{
	display: flex;
	justify-content: center;
	font-size: var(--font-size-large);
	position: relative;
	bottom: -0.5em;
}

/* showmore buttons */

.showMore, .showMore2{
	display: block;
	width: 95%;
	background-color: white;
	padding: 1.4em;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	box-shadow: 0.2em 0.3em lightgray ;
	text-transform: uppercase;
}

.showMore{
	margin-bottom: 2em;
}

/* kolommen met allemaal soorten artikel scrolls/clicks */ 

.changingColumn{
	background-color: #9260DEff;
}

.changingColumn ul{
	display: flex;
	list-style: none;	
	margin:1em;
	margin-right: 4em;
	justify-content: center;
	flex-wrap: wrap;
}

.changingColumn button{
	display: flex;
	justify-content: center;
	background-color: transparent;
	border-color: white;
	text-transform: uppercase;
	margin: 0.3em;
	padding: 0.1em;
	color: white;
	height: 2em;
}

.columns{
	margin: 1em;
	background-color: white;
	margin-left: 2em;
	height: 47em;
}

.columns h3{
	font-family: 'PLZ';
	font-size: 1.3em;
}

.columns h3, p{
	display: flex;
	justify-content: center;
	margin: 1em;
}

.columns img{
	width: 18em;
}

.columns hr{
	width: 5em;
}

/* carrousel */

.articleCarrousel { /* dit heb ik met een caroussel codepen bron: https://codepen.io/shooft/pen/abmLRMg*/
	margin: 0 ; 
	padding: 0;
	display: flex;
	overflow-x: scroll;  /* handmatig scrollen is mogelijk */
	overflow-y: hidden;
	scroll-behavior: smooth; /* smooth als met js gescrolled wordt */
  	-webkit-overflow-scrolling: touch; /* voor iOS*/
  	-ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
	overscroll-behavior: contain auto; /* voorkomen dat de pagina gaat scrollen */
	width: 20em;  
}

.articleCarrousel p{
	background-color: white;
	color: black;
}

.articleCarrousel h3{
	border-left: white;
}

/* voor 2e pagina */

/* videos */
video{
	width: 23.5em;
	margin-left: -0.5em;
	position: relative;
	top: -1.1em;
}

iframe{
	margin-left: -0.5em;
}

/* buttons */

.button100{
	width: 10em;
	display: flex;
	justify-content: center;
}

.button100 button{
	font-size: 0.5em;
	text-transform: uppercase;
	border-radius: 5em;
	display: flex;
	justify-content: center;
}

/* kolommen met de artietsen */

/* Basis styling voor de grid layout */
.dazed100AllColumns {
	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	gap: 1.5em; /* Ruimte tussen kolommen */
	margin: 2em 1em; /* Rand om het grid */
  }
  
  /* Kolom styling */
  
.column img {
	width: 100%; 
	display: block;
	margin-bottom: 1em;
  }
  
.column ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 1em; 
	display: flex;
	flex-wrap: wrap;
  }
  
.column li {
	font-size: 0.5em;
	border-radius: 1em;
	padding: 0.5em 1em;
	margin: 0.3em 0;
	display: flex;
	align-items: center;
	margin: 0.2em;
	width: 8em;
	color: white;
}

.column h3{
	border-bottom: 0.1em solid black;
	width: 60%;
	font-family: 'PLZ';
	font-size: 1em;
	position: relative;
	right: 0.3em;
}

.column p{
	position: relative;
	right: 2em;
	width: 70%;
}

/* kolommen (kleuren buttons) voor 2e pagina */
.column li:nth-of-type(1){ /* elke button krijgt een eigen kleur */
	background-color: rgb(247, 85, 225);
}

.column li:nth-of-type(2){
	background-color: rgb(68, 130, 254);
}

.column li:nth-of-type(3){
	background-color: rgb(76, 188, 59);
}

.column li:nth-of-type(4){
	background-color: rgb(255, 255, 255);
	color: black;
	border: 0.1em solid black;
	width: 30%;
}

.dazed100AllColumns {
	transition: opacity 2s ease-in;
}


/* DAZED 100 TEXT */
.dazed100Title h2 {
	font-family: "nimbus" ;
	font-size: 3em;
	padding-bottom: 0.5em;
	position: relative;
	left: 1em;
}

.dazed100Title p{
	display: flex;
	text-align: center;
	font-size: 1.3em;
	margin: 0.8em;
}


/* BUTTONS FOR THE 2TH PAGE */
.buttonPage100 button{
	background-color: white;
	height: 3em;
	font-size: 1em;
	text-transform: uppercase;
	border-radius: 1em;
	display: flex;
	align-items: center;
	margin: 0.2em;
}

.buttonPage100{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: -2.3em;
}

button:nth-of-type(7) {
	background-color: rgb(0, 0, 0);
	color: white;
}

button:nth-of-type(7):hover{
	background-color: rgb(122, 198, 249);
}

button:hover{
	background-color: black;
	color: white;
}

.dazed1002023{
	font-family: "nimbus" ;
	font-size: 2em;
	padding: 0.3em;
	margin-left: 1.3em;
}

.throughArticles {
	display: flex;
	justify-content: center;
	margin-left: 2em;
}

/* Het hoekje van de artikelen met het genre "music" als voorbeeld */
.textCorner{
	display: grid;
	position: relative;
}

.textCorner p{
	position: absolute;
	padding: 0.5em;
	margin: 0.4em;
	display: flex;
	justify-content: left;
	font-family: 'stretchPro';
	font-size: 0.7em;
	width: 41%;
	text-transform: uppercase;
}

/* speciale artikelen met eigen achtegrond */
/* BLUE ARTICLE */
.articleBigDisplay{
	background-color: rgb(128,156,252);
	color: white;
}

.articleBigDisplay img{
	width: 21em;
	display: flex;
	justify-content: center;
	margin-left: 0.7em;
	position: relative;
	top: 0.5em;
}

/* RED ARTICLE */
.articleBigDisplay2{
	background-color: rgb(244, 97, 71);
	color: white;
}

.articleBigDisplay2 img{
	width: 21em;
	display: flex;
	justify-content: center;
	margin-left: 0.7em;
	position: relative;
	top: 0.5em;
}

.changingColumn ul{
	position: relative;
	top: 1em;
}

.changingColumn h3  {
	display: flex;
	text-align: center;
}

.changingColumn p{
	font-size: 0.8em;
	margin: 3em;
	padding-bottom: 2em;
	display: flex;
	text-align: center;
}

.changingColumn hr{
	width: 90%;
}

.changingColumn button{
	border-color: white;
	font-family: 'stretchPro';
	font-size: 0.7em;
	padding: 1.2em;
	align-items: center;
}

.changingButton{
	background-color: rgb(255, 255, 255);
	color: black;
}

/* lijnen dat in dit speciale artikel zitten ^ */
.lines{
	margin: 1em;
	border-left: solid;
	position: relative;
	top: -0.2em;
}

.lines p{
	border-top: solid;
	margin: 0.5em;
	margin-top: 1em;
}


/* scrollen door de magazine en features sectie */
.scrolling img{
	width: 15em;
	margin: 0.5em;
	display: flex;
	justify-content: center;
}

.scrolling h3{
	margin: 0.7em;
	margin-right: 2em;
	margin-top: -0.7em;
	font-size: 1em;
	width: 15em;
}

.scrolling p{
	background-color: transparent;
	color: black;
	margin: 0.9em;
	margin-bottom: -0.8em;
	font-family: 'stretchPro';
	font-size: 0.7em;
	width: 60%;
	text-transform: uppercase;
	position: relative;
	right: 0.5em;
}

.scrolling article{
	width: 16em;
}	

.scrolling {
	display: flex;
	overflow-x:auto; /* zorgt ervoor dat je horizontaal kan scrollen */
}

/* feature sectie*/

.features{
	text-align: center;
}

.features h2{
	margin-bottom: 0.5em;
	display: flex;
	justify-content: center;
	margin-left: 1.5em;
}

.features h3{
	border-bottom: solid;
	margin: 1em;
	border-left: white;
	text-transform: uppercase;
	font-size: 1em;
}

.features h4{
	margin-top: -1em;
	text-transform: uppercase;
	font-size: 0.8em;
	font-family: 'PLZ';
}


/* groene schaduw die bij de beauty sectie is */
.green{
	box-shadow: 0.0em -0.4em 0em rgb(1, 252, 1);
	margin-top: 1em;
}

/****************/
/* ANIMATION */
/****************/

@keyframes float{
	0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.5em);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes dark-mode-animation{
	0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* beauty logo floating */
.beautyLogo{
    transform: translateY(0em);
    animation: float 4s ease-in-out infinite;
}

.beautyLogo{
	width: 12em;
	margin: 1em;
	position: relative;
	left: 4em;
}

/* dark-mode */
.dark-mode-toggle:hover{
	animation: dark-mode-animation 0.5s ease-out ;
}

.dark-mode {
	background-color: black;
	color: white;
}

.dark-mode-toggle{
	background-color: rgb(21, 255, 0);
	border-radius: 2em;
	position: relative;
	left: 20em;
}

/* deze zorgen ervoor dat de nav bar ook verandert naar dark-mode */
.dark-mode nav {
    background-color: black; 
    color: white; 
}

.dark-mode nav ul {
    background-color: black; /* Achtergrondkleur voor de navigatie items */
    color: white; 
}

/* hamburgermenu wanneer het nog niet geklikt is (niet zichtbaar) */
/* Off-screen menu: standaard buiten beeld (boven het scherm) */
.off-screen-menu {  /* met behulp van youtube video over hamburgermenu gemaakt bron: https://www.youtube.com/watch?v=M498DvQDkJo&list=WL&index=2*/
    background-color: black;
    color: white;
    height: 27em;
    width: 69%;
    display: flex;
    max-width: 18em;
    position: fixed;
    top: -30em; 
    right: 0;
	left: -2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: top 0.5s ease; /* hierdoor komt het menu vanaf bover naar beneden */
	text-transform: uppercase;
	font-family: 'stretchPro';
	z-index: 1000; 
	overflow: hidden; /* hierdoor blijft het menu boven alles te staan */
}

/* Menu komt naar beneden */
.off-screen-menu.active {
    top: 0; /* spreek je aan dat hij vanaf top 0 begint en dan naar de menuy transition gaat*/
}

.off-screen-menu li{
	font-size: 0.4em;
	position: relative;
	padding: 0.3em;
	right: 2.5em;
}

.off-screen-menu li h3{
	position: relative;
	right: 0.6em;
	font-size: 1.8em;
	font-family: 'stretchPro';
	padding: 0.1em;
	border-bottom: 0.1em solid white;
}

.off-screen-menu li:nth-of-type(2){
	color:  rgb(21, 255, 0)
}

.off-screen-menu li img{
	width: 20em;
	position: relative;
	left: 3em;
	top: 1em;
}


/****************/
/* footer */
/****************/

footer{
	background-color: black;
	color: white;
	margin-left: -1em;
	margin-right: -0.5em;
}

footer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Of meer, afhankelijk van het ontwerp */
    list-style: none;
    padding: 0;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	left: 1em;
}

footer ul h2{
	display: flex;
	justify-content: center;
	font-size: 4.5em;
	text-transform: uppercase;
	margin-left: -3.8em;
}

footer p{
	display: flex;
	justify-content: center;
	padding: 5px;
	text-transform: uppercase;
	font-size: 13px;
}

footer ul p{
	position: absolute;
	margin-top: -6em;
	margin-left: 2.5em;
	width: 6em;
	display: flex;
	justify-content: center;
	font-size: 1em;
	font-family: 'PLZ';
	align-items: center;
}

footer ul img{
	width:12em;
	margin-left:-0.5em;
	margin-top: 0em;
	height: 10em;
	opacity: 0.60;
}

/* de social links in de footer */
.socialLinks img{
	width: 1.5em;
	display: flex;
	
}
.socialLinks{
	display: flex;
	justify-content: space-around;
	margin: 50px;
	margin-top: 0px;
}















