/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/****************/
/* FONTS */
/****************/


/****************/
/* header */
/****************/

header{
	display: flex;
	justify-content: center;
}

nav ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: space-between;
}

h1{
	font-family: "replubica";
}


/****************/
/* main */
/****************/

h2{
	font-size: 2em;
	margin: 0.1em;
	padding: 0.1em;
}


h3{
	margin: 0.5em;
	padding: 0.1em;
}

p{
	margin: 0.4em;
	padding: 0.1em;
}


article p {
	color: white;
	background-color: black;
	margin-right: 13em;
	grid: 1fr 1fr 1fr;
}

main img {
	width: 22em;
	padding: 5px;
}


li img{
	width: 2.5em;

}


/* DAZED CLUB*/
.dazedClub img {
	width: 3em;
}

.dazedClub{
	display: flex;
	margin: 1.4em;
}

.dazedClub p{
	font-size: 14px;
	text-align: center;
}


/*mail nieuwsbrief aanmelden*/
.mail button{
	border-radius: 30px;
	color: white;
	background-color: black;
	width:34%;
	padding: 7px;
	box-shadow: none;
	text-transform: uppercase;
}

.mail {
	display: flex;
	justify-content: center;
}


.showMore{
	display: block;
	width: 95%;
	background-color: white;
	padding: 1.4em;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	box-shadow: 0.2em 0.3em lightgray ;
	text-transform: uppercase;
}


/*columns met allemaal verschillende artikelen scrollen/klikken*/ 

.backgroundcolor{
	background-color: #9260DEff;
}

.backgroundcolor ul{
	display: flex;
	list-style: none;	
	margin:1em;
	margin-right: 4em;
	justify-content: center;
	flex-wrap: wrap;
}

.backgroundcolor button{
	display: flex;
	justify-content: center;
	background-color: transparent;
	border-color: white;
	text-transform: uppercase;
	margin: 0.3em;
	padding: 0.1em;
	color: white;

}


.column{
	margin: 35px;
	background-color: white;
	
}

.column h3, p{
	display: flex;
	justify-content: center;
	margin: 1em;
}

.column img{
	width: 18em;
}

.column hr{
	width: 5em;

}



/****************/
/* footer */
/****************/

footer{
	background-color: black;
	color: white;
}

footer ul{
	list-style: none;
}

footer ul h2{
	display: flex;
	justify-content: center;
	margin-right: 50px;
	font-size: 100px;
	text-transform: uppercase;
}

.socialLinks img{
	width: 30px;
	display: flex;
	
}
.socialLinks{
	display: flex;
	justify-content: space-around;
	margin: 50px;
	margin-top: 0px;
}

footer p{
	display: flex;
	justify-content: center;
	padding: 5px;
	text-transform: uppercase;
	font-size: 13px;
}

video{
	width: 23em;
}

.button100{
	width: 10em;
	display: flex;
	justify-content: center;
}

.button100 button{
	font-size: 0.5em;
	text-transform: uppercase;
	border-radius: 5em;
	display: flex;
	justify-content: center;
}

li{
	list-style: none;	
}

.kolom img{
	width: 10em;
}

.kolom{
	background-color: gray;
	width: 10em;
	margin: 0.5em;
}

.kolom li{
	background-color: yellow;
	font-size: 0.6em;
	border-radius: 2em;
	border-color: black;
}

.kolom ul{
	display: flex;
	justify-content: center;
	
}

.all{
	display: flex;
	justify-content: space-around;
	margin: 0.1em;
	
}

h2{
	display: flex;
	justify-content: center;
}

hr{
	display: flex;
	justify-content: center;
	margin: 1em;
}

.fashion img{
	width: 10em;
}

article h3{
	border-left: solid;
	margin-left: 0.3em;
	padding: 0.4em;
}

.tekstHoek{
	display: grid;
	position: relative;
	
}

.tekstHoek img{
	display: block;
}

.tekstHoek p{
	position: absolute;
	padding: 0.3em;
	margin: 0.35em;
	width: 7em;
	display: flex;
	justify-content: left;
}

.backgroundcolorBlue{
	background-color: rgb(128,156,252);
	color: white;
}

.backgroundcolorBlue img{
	width: 21em;
	display: flex;
	justify-content: center;
	margin-left: 0.7em;
}

.lines{
	margin: 1em;
	border-left: solid;
}

.lines p{
	border-top: solid;
	margin: 0.5em;
	margin-top: 1em;
}

.showMore{
	margin-bottom: 2em;
}


.scrolling img{
	width: 15em;
	margin: 0.5em;
	display: flex;
	justify-content: center;
}

.scrolling h3{
	margin: 0.7em;
	margin-right: 2em;
	margin-top: -0.7em;
	font-size: 1em;
}

.scrolling p{
	background-color: transparent;
	color: black;
}

.scrolling {
	display: flex;
}