/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}


/****************/
/* JOUW STYLING */
/****************/


/****************/
/* FONTS */
/****************/

@font-face {
	font-family: "PLZ";
	src: url("/font/PLZ.woff2");
}

@font-face {
	font-family: 'nimbus';
	src: url('/font/NimbusSanL-Reg.woff2') format('woff2');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'stretchPro';
	src: url('/font/StretchPro.woff2') format('woff2');
}
/****************/
/* header */
/****************/

header{
	display: flex;
	justify-content: center;
	width: 20em;
	margin: 3em;
	margin-bottom: -2em;
	margin-left: 1em;
}

nav ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: space-between;
}


h2:nth-of-type(1){
	margin-bottom: 0.5em;
}

header svg{
	display: flex;
	width: 1em;
}

h1{
	font-size: 1.7em;
	margin: 1em;
}

h1{
	font-family: 'stretchPro'
}

/****************/
/* main */
/****************/

p {
	font-family: "nimbus" ;
}

h2{
	font-size: 2em;
	width: 8em;
	display: flex;
	justify-content: flex-start;
	margin: 0.5em;
	margin-bottom: -0.8em;
	
}

h3{
	margin: 0.5em;
	padding: 0.1em;
}

p{
	margin: 0.4em;
	padding: 0.1em;
	font-size: 1em;
}


article p {
	color: white;
	background-color: black;
	margin-right: 13em;
	grid: 1fr 1fr 1fr;
}

main img {
	width: 22em;
	padding: 5px;
}


li img{
	width: 2.5em;

}

li{
	list-style: none;	
}


/* DAZED CLUB*/
.dazedClub img {
	width: 4em;
}

.dazedClub p{
	font-size: 14px;
	text-align: center;
}

.dazedClub{
	margin-top: -1em;
	margin-bottom: -1em;
	display: flex;
	justify-content: center;
}



/*mail nieuwsbrief aanmelden*/
.mail button{
	border-radius: 30px;
	color: white;
	background-color: black;
	width:34%;
	padding: 7px;
	box-shadow: none;
	text-transform: uppercase;
}

.mail {
	display: flex;
	justify-content: center;
}

.mail p{
	border: solid;
	width: 14em;
	height: 2em;
	font-size: 0.8em;
}

.showMore, .showMore2{
	display: block;
	width: 95%;
	background-color: white;
	padding: 1.4em;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	box-shadow: 0.2em 0.3em lightgray ;
	text-transform: uppercase;
}



/*columns met allemaal verschillende artikelen scrollen/klikken*/ 

.changingColumn{
	background-color: #9260DEff;
}

.changingColumn ul{
	display: flex;
	list-style: none;	
	margin:1em;
	margin-right: 4em;
	justify-content: center;
	flex-wrap: wrap;
}

.changingColumn button{
	display: flex;
	justify-content: center;
	background-color: transparent;
	border-color: white;
	text-transform: uppercase;
	margin: 0.3em;
	padding: 0.1em;
	color: white;
	height: 2em;
}


.columns{
	margin: 35px;
	background-color: white;
	
}

.columns h3, p{
	display: flex;
	justify-content: center;
	margin: 1em;
}

.columns img{
	width: 18em;
}

.columns hr{
	width: 5em;

}


/* voor 2e pagina */

video{
	width: 23.5em;
	margin-left: -0.5em;
}

iframe{
	margin-left: -0.5em;
}

.button100{
	width: 10em;
	display: flex;
	justify-content: center;
}

.button100 button{
	font-size: 0.5em;
	text-transform: uppercase;
	border-radius: 5em;
	display: flex;
	justify-content: center;
}

.column img{
	width: 11em;
}

.column{
	width: 10em;
	margin: 0.2em;
}

.column li{
	font-size: 0.7em;
	border-radius: 2em;
	border-color: black;
	display: flex;
	align-items: center;
	margin: 0.2em;
}

.column ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-left: -2em;
	height: 3em;
	
}


.dazed100AllColumns{
	display: flex;
	justify-content: space-around;
	margin: 0.1em;
	flex-wrap: wrap;
	margin-left: -1em;
}



hr{
	display: flex;
	justify-content: center;
	margin: 1em;
}

/*.fashion img{
	width: 10em;
}*/

article h3{
	border-left: solid;
	margin-left: 0.3em;
	padding: 0.4em;
}

.textCorner{
	display: grid;
	position: relative;
	
}

/*.tekstHoek img{
	display: block;
}*/

.textCorner p{
	position: absolute;
	padding: 0.3em;
	margin: 0.35em;
	width: 7em;
	display: flex;
	justify-content: left;
}

.backgroundcolorBlue{
	background-color: rgb(128,156,252);
	color: white;
}

.backgroundcolorBlue img{
	width: 21em;
	display: flex;
	justify-content: center;
	margin-left: 0.7em;
}

/* lines in specifiek artikel met achtergrond kleur */
.lines{
	margin: 1em;
	border-left: solid;
}

.lines p{
	border-top: solid;
	margin: 0.5em;
	margin-top: 1em;
}

/* showmore */
.showMore{
	margin-bottom: 2em;
}


/* scrolling bij magazine en features section*/
.scrolling img{
	width: 15em;
	margin: 0.5em;
	display: flex;
	justify-content: center;
}

.scrolling h3{
	margin: 0.7em;
	margin-right: 2em;
	margin-top: -0.7em;
	font-size: 1em;
	width: 15em;
}

.scrolling p{
	background-color: transparent;
	color: black;
	width: 10em;
	margin: 0.9em;
	margin-bottom: -0.8em;
	font-family: 'stretchPro';
	font-size: 0.7em;
}

.scrolling article{
	width: 16em;
}	

.scrolling {
	display: flex;
	overflow-x:auto;
}


/* features */
.features h4{
	font-size: 0.9em;
	margin-top: -1em;
}

.features h3{
	border-bottom: solid;
	margin: 1em;
	border-left: white;

}

.features{
	text-align: center;
}

.features h2{
	margin-bottom: 0.5em;
	display: flex;
	justify-content: center;
	margin-left: 1.5em;
}


/* greenshadow van beauty artikelen section */
.green{
	box-shadow: 0.0em -0.4em 0em rgb(1, 252, 1);
	margin-top: 1em;
}

/*animatie beauty logo*/
@keyframes float{
	0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.5em);
    }
    100% {
        transform: translateY(0);
    }
}
.beautyLogo{
    transform: translateY(0em);
    animation: float 4s ease-in-out infinite;
}

.beautyLogo{
	width: 12em;
	margin: 1em;
	margin-left: 5em;
}


/* svg*/
svg{
	margin: 1em;
	width: 90%;
    height: 20px;
}


/****************/
/* footer */
/****************/

footer{
	background-color: black;
	color: white;
	margin-left: -1em;
	margin-right: -0.5em;
}

footer ul{
	list-style: none;
}

footer ul h2{
	display: flex;
	justify-content: center;
	margin-right: 50px;
	font-size: 100px;
	text-transform: uppercase;

}

.socialLinks img{
	width: 30px;
	display: flex;
	
}
.socialLinks{
	display: flex;
	justify-content: space-around;
	margin: 50px;
	margin-top: 0px;
}

footer p{
	display: flex;
	justify-content: center;
	padding: 5px;
	text-transform: uppercase;
	font-size: 13px;
}


footer ul img{
	width:13.5em;
	margin: 0;
	margin-left:-2em;
	margin-top: 0em;
	height: 9em;
	opacity: 0.5;

}

footer ul{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	left: 1em;
	margin:0;
	padding: 0;
}

footer ul p{
	position: absolute;
	margin-top: -6em;
	margin-left: 4.5em;
	width: 2em;
	display: flex;
	justify-content: center;
	font-size: 1em;
}

footer ul h2{
	display: flex;
	justify-content: center;
	margin:0.5em;
	margin-left:-2.2em;
}


/* dazed 100 */

.dazed100Title h2 {
	font-family: "nimbus" ;
	font-size: 3em;
	display: flex;
	justify-content: center;
	margin-left: -0.3em;
	padding-bottom: 0.5em;
}

.dazed100Title p{
	display: flex;
	text-align: center;
	font-size: 1.3em;
	margin: 0.8em;

}

.buttonPage100 button{
	background-color: white;
	height: 3em;
	font-size: 1em;
	text-transform: uppercase;
	border-radius: 1em;
	display: flex;
	align-items: center;
	margin: 0.2em;
}

.buttonPage100{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: -2.3em;
}

button:nth-of-type(7) {
	background-color: rgb(0, 0, 0);
	color: white;
}

button:nth-of-type(7):hover{
	background-color: rgb(122, 198, 249);
}

button:hover{
	background-color: black;
	color: white;
}

.dazed1002023{
	font-family: "nimbus" ;
	font-size: 2em;
	display: flex;
	justify-content: center;
	margin-left: 1.5em;
	padding: 0.3em
}


.off-screen-menu{
	background-color: black;
	color: white;
	height: 100vh;
	width: 100%;
	display: flex;
	max-width: 18em;
    position: fixed;
    top: 0;
    right: -450px;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    transition: .3s ease;

}

.off-screen-menu.active {
 	right: 0;
}


.menuIcon{
	position: relative;
}

body {
	background-color: white;
	color: black;
}

@keyframes dark-mode-animation{
	0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


.dark-mode {
	background-color: black;
	color: white;
  }

.darkModeToggle{
	background-color: rgb(21, 255, 0);
	border-radius: 2em;
	margin-left: 20em;
}

.darkModeToggle:hover{
	animation: dark-mode-animation 0.5s ease-out ;
}

.changingColumn h3  {
	display: flex;
	text-align: center;
}

.changingColumn p{
	font-size: 0.8em;
	margin: 3em;
	padding-bottom: 2em;
	display: flex;
	text-align: center;
}

.changingColumn hr{
	width: 90%;
}

.changingColumn button{
	border-color: white;
	font-family: 'stretchPro';
	font-size: 0.7em;
	padding: 1.2em;
	align-items: center;
}

.changingButton{
	background-color: rgb(255, 255, 255);
	color: black;
}

.backgroundcolorRed{
	background-color: rgb(244, 97, 71);
	color: white;
}

.backgroundcolorRed img{
	width: 21em;
	display: flex;
	justify-content: center;
	margin-left: 0.7em;
}

.throughArticles {
	display: flex;
	justify-content: center;
	margin-left: 2em;
}

/*columns 2e pagina*/

.column li:nth-of-type(1){
	background-color: rgb(247, 85, 225);
}

.column li:nth-of-type(2){
	background-color: rgb(68, 130, 254);
}

.column li:nth-of-type(3){
	background-color: rgb(76, 188, 59);
}

.column li {
	color: white;
}

.column li:nth-of-type(4){
	background-color: rgb(255, 255, 255);
	color: black;
}



.off-screen-search{
	background-color: #000000;
	color: white;
	height: 2em;
	width: 100%;
	display: flex;
	max-width: 18em;
    position: fixed;
    top: 0;
    right: -450px;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 1em;
    transition: .3s ease;

}

.off-screen-search.active {
 	right: 0;
}
<<<<<<< HEAD

h2:nth-of-type(2){
	position: relative;
	top: -0.8em;
}

.changingColumn ul{
	position: relative;
	top: 1em;
}

.backgroundcolorBlue img{
	position: relative;
	top: 0.5em;
}

.lines{
	position: relative;
	top: -0.2em;
}

.backgroundcolorRed img{
	position: relative;
	top: 0.5em;
	
}

button{
	position: relative;
	bottom: 0.5em;
	
}

.articleCarrousel {
	margin: 0; 
	padding: 0;
	list-style: none;
	display: flex;
	  
	 /* handmatig scrollen is mogelijk */
	overflow-x: scroll;
	overflow-y: hidden;
	/* snappen als er gescrolled wordt - andere helft bij li */
	scroll-snap-type: inline mandatory;
	/* smooth als met js gescrolled wordt */
	scroll-behavior: smooth;
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
	
	/* indien het einde of het begin van de pagina bereikt is met scrollen */
	/* voorkomen dat de pagina gaat scrollen */
	overscroll-behavior: contain auto;
	  
}

.articleCarrousel > -webkit-scrollbar {
	/* scrollbar zoveel mogelijk verbergen */
	display: none; /* voor chrome, safari en edge*/
}

.articleCarrousel p{
	background-color: white;
	color: black;
}
=======
>>>>>>> c0250ce310d43ea869c8efa92267dbf18dd782ad
